@model CadastrProject.Models.AspNetUsers
<h2>Мои данные</h2>
<div>
    @{
        ViewBag.Title = "AboutMe";
    }
    <dl class="dl-horizontal">

        <dt>Id:</dt>
        <dd>
            @Model.Id
        </dd>

        <dt>Фамилия:</dt>
        <dd>
            @Model.Surname
        </dd>

        <dt>Имя:</dt>
        <dd>
            @Model.Name
        </dd>

        <dt>Паспорт:</dt>
        <dd>
            @Model.Passport
        </dd>

        <dt>Инн:</dt>
        <dd>
            @Model.Inn
        </dd>

        <dt>Почта:</dt>
        <dd>
            @Model.Email
        </dd>
    </dl>
    <p>
        @Html.ActionLink("Редактировать данные", "EditUser")
    </p>
</div>