@model IEnumerable<CadastrProject.Models.Cadastre>
@{
    ViewBag.Title = "Зарегистрированные объекты";
}
<h2>Зарегистрированные объекты</h2>
<h5>Виды кадастровых объектов</h5>
<ul id="groups">
    @foreach (var item in (IEnumerable<CadastrProject.Models.Group>)ViewData["Group"])
    {
        <li>
            <div>
                @Html.ActionLink(item.Type, "CadastreObject", new { id = item.Id })
            </div>
        </li>
    }
</ul>
<p>
    @Html.ActionLink("Добавить запись", "Create")
</p>
<table class="table">
    <tr>
        <th>
           Тип кадастра
        </th>
        <th>
            Адрес
        </th>
        <th>
            Кадастровая стоимость
        </th>
        <th>
            Площадь
        </th>
        <th>
            Дата подачи заявки
        </th>
        <th>
            Владелец
        </th>
        <th>
            Дата регистрации
        </th>
        <th>
            Статус
        </th>

        <th> Действия</th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.Status.Id==5 ){
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Group.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <th>
                @Html.DisplayFor(Item => item.Square)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.Date_application)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IDOwner)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date_registration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.Name)
            </td>
            <td>

                @Html.ActionLink("Редактировать", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Просмотреть", "Details", new { id = item.Id }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
    }
</table>
@Html.ActionLink("Вернуться в главное меню", "Index")




