@model IEnumerable<CadastrProject.Models.Cadastre>
@{
    ViewBag.Title = "Заявки";
}
<h2>Заявки</h2>
<h5>Классификация заявок</h5>
<ul id="groups">
   @foreach (var item in (IEnumerable<CadastrProject.Models.Status>)ViewData["Status"])
   {
        <li>
            <div>
                @Html.ActionLink(item.Name, "CadastreRequest", new { id = item.Id })
            </div>
        </li>
    }
</ul>
<table class="table">
    <tr>
        <th>
            №
        </th>
        <th>
            Тип объекта
        </th>
        <th>
            Адрес
        </th>
        <th>
            Кадастровая стоимость
        </th>
        <th>
            Площадь
        </th>
        <th>
            Дата заявки
        </th>
        <th>
            Владелец
        </th>
        <th>
            Дата регистрации
        </th>
        <th>
            Статус
        </th>

        <th> Action</th>
    </tr>

    @foreach (var item in Model)
    {
       // if (item.Status.Id == 2){
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Group.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <th>
                @Html.DisplayFor(Item => item.Square)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.Date_application)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IDUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date_registration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.Name)
            </td>
            <td>

                @Html.ActionLink("Редактировать", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Просмотреть", "Details", new { id = item.Id }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
            </td>
        </tr>
   // }
    }
</table>
@Html.ActionLink("Вернуться в главное меню", "Index")
