@model CadastrProject.Models.Cadastre
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<h2>Добавление записи</h2>

 @using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

     <div class="form-horizontal">
        <h4> Новая запись </h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

         <div class="form-group">
             @Html.LabelFor(model => model.IDGroup, htmlAttributes: new { @class = "control-label col-md-2" })
             <div class="col-md-10">
                 @Html.DropDownList("IDGroup", (IEnumerable<SelectListItem>)ViewData["IDGroup"], new { @class = "form-control" })
                 @Html.ValidationMessageFor(model => model.IDGroup, "", new { @class = "text-danger" })
             </div>
         </div>

             <div class="form-group">
                 @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                 <div class="col-md-10">
                     @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                     @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                 </div>
             </div>
             <div class="form-group">
                 @Html.LabelFor(model => model.Value, htmlAttributes: new { @class = "control-label col-md-2" })
                 <div class="col-md-10">
                     @Html.EditorFor(model => model.Value, new { htmlAttributes = new { @class = "form-control" } })
                     @Html.ValidationMessageFor(model => model.Value, "", new { @class = "text-danger" })
                 </div>
             </div>
             <div class="form-group">
                 @Html.LabelFor(model => model.Square, htmlAttributes: new { @class = "control-label col-md-2" })
                 <div class="col-md-10">
                     @Html.EditorFor(model => model.Square, new { htmlAttributes = new { @class = "form-control" } })
                     @Html.ValidationMessageFor(model => model.Square, "", new { @class = "text-danger" })
                 </div>
             </div>
             <div class="form-group">
                 @Html.LabelFor(model => model.Date_application, htmlAttributes: new { @class = "control-label col-md-2" })
                 <div class="col-md-10">
                     @Html.EditorFor(model => model.Date_application, new { htmlAttributes = new {@type = "date", @class = "form-control" } })
                     @Html.ValidationMessageFor(model => model.Date_application, "", new { @class = "text-danger" })
                 </div>
             </div>
             <div class="form-group">
                 @Html.LabelFor(model => model.IDOwner, htmlAttributes: new { @class = "control-label col-md-2" })
                 <div class="col-md-10">
                     @Html.EditorFor(model => model.IDOwner, new { htmlAttributes = new { @class = "form-control" } })
                     @Html.ValidationMessageFor(model => model.IDOwner, "", new { @class = "text-danger" })
                 </div>
             </div>
         <div class="form-group">
             @Html.LabelFor(model => model.IDStatus, htmlAttributes: new { @class = "control-label col-md-2" })
             <div class="col-md-10">
                 @Html.DropDownList("IDStatus", (IEnumerable<SelectListItem>)ViewData["IDStatus"], new { @class = "form-control" })
                 @Html.ValidationMessageFor(model => model.IDStatus, "", new { @class = "text-danger" })
             </div>
         </div>
             <div class="form-group">
                 <div class="col-md-offset-2 col-md-10">
                     <input type="submit" value="Добавить" class="btn btn-default" />
                 </div>
             </div>
         </div>

 }

<div>
    @Html.ActionLink("Вернуться на главную", "")
</div>

