@model IEnumerable<CadastrProject.Models.Cadastre>
@{
    ViewBag.Title = "Мои объекты";
}
<h2>Мои объекты</h2>
<table class="table">
    <tr>
        <th>
            № 
        </th>
        <th>
            Тип кадастра
        </th>
        <th>
            Адрес
        </th>
        <th>
            Кадастровая стоимость
        </th>
        <th>
            Площадь
        </th>
        <th>
            Дата подачи заявки
        </th>
        <th>
            Дата регистрации
        </th>
        <th>
            Статус
        </th>

        <th> Действия</th>
    </tr>

    @foreach (var item in Model)
    {        
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Group.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
                <th>
                    @Html.DisplayFor(modelItem => item.Square)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.Date_application)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date_registration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status.Name)
                </td>
                <td>
                    @if (item.IDStatus == 1)
                    {
                        <input type="button" class="btn btn-default" value="Редактировать заявку" onclick="location.href = '@Url.Action("EditObject",new {id = item.Id})'" />                                  
                        <input type="button" class="btn btn-default" value="Отправить" onclick="location.href = '@Url.Action("Sent", new {id = item.Id})'" />                   
                    }
                    |
                    @Html.ActionLink("Просмотреть", "Details", new { id = item.Id })       
                    |
                    @if (item.IDStatus <3)
                      {
                    @Html.ActionLink("Удалить для пользователя", "Delete", new { id = item.Id })
                      }
                    |
                    @if (item.IDStatus == 5 && User.IsInRole("Admin"))
                    {
                        @Html.ActionLink("Удалить для админа ", "Delete", new { id = item.Id })
                    }
                </td>
            </tr>
    }
</table>

@Html.ActionLink("Вернуться в главное меню", "Index")
