@model IEnumerable<CadastrProject.Models.Removal_Request>
@{
    ViewBag.Title = "Мои заявки на снятие";
}
<h2>Мои объекты</h2>
<table class="table">
    <tr>
        <th>
            №
        </th>
        <th>
            Дата заявки
        </th>
        <th>
            Тип кадастра
        </th>
        <th>
            № объекта
        </th>
        <th>
            Адрес
        </th>
        <th>
            Кадастровая стоимость
        </th>
        <th>
            Площадь
        </th>
        <th>
            Дата подачи заявки
        </th>
        <th>
            Дата регистрации
        </th>
        <th>
            Причина
        </th>
        <th>
            Статус
        </th>

        <th> Действия</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date_request)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Group.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IDCadastr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.Square)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.Date_application)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date_registration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cause)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.Name)
            </td>
            <td>
                @Html.ActionLink("Просмотреть", "../Request/Details", new { id = item.Id }) 
                @if (item.IDStatus == 1)
                {
                    <input type="button" class="btn btn-default" value="Редактировать заявку" onclick="location.href = '@Url.Action("../Request/EditRequest",new {id = item.Id})'" />
                    <input type="button" class="btn btn-default" value="Отправить" onclick="location.href = '@Url.Action("../Request/Sent", new {id = item.Id})'" />
                }              
            </td>
        </tr>
    }
</table>

@Html.ActionLink("Вернуться в главное меню", "../Home/Index")