@model IEnumerable<CadastrProject.Models.Removal_Request>
@{
    ViewBag.Title = "Заявки на снятие с учета";
}

<h2>Заявки на снятие с учета</h2>
<p>
    @Html.ActionLink("Добавить запись", "Create")
</p>
<table class="table">
    <tr>
        <th>
            ID заявки                         
        </th>
        <th>
            Дата подачи заявки поставки на учет
        </th>
        <th>
            ID кадастра
        </th>
        <th>
            Адрес
        </th>
        <th>
            Кадастровая стоимость
        </th>
        <th>
            Площадь
        </th>
        <th>
            Дата регистрации
        </th>
        <th>
            Владелец
        </th>
        <th>
            Дата подачи заявки на снятие с учета
        </th>
        <th>
            Дата снятия с учета
        </th>
        <th>
            Статус
        </th>
        <th>
            Причина
        </th>
        <th> Action</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date_application)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IDCadastr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Square)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date_registration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IDUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date_request)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateDelete)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cause)
            </td>
            <td>

                @Html.ActionLink("Редактировать", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Просмотреть", "Details", new { id = item.Id }) |
            </td>
        </tr>

    }

</table>
@Html.ActionLink("Вернуться в главное меню", "../Home/Index")

