@model CadastrProject.Models.Owner
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

    <p>Детали</p>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Имя
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Фамилия
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            ИНН
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inn)
        </dd>

        <dt>
            Паспорт
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Passport)
        </dd>

        <dt>
            Телефон
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            Почта
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mail)
        </dd>

        <dt>
            Пользователь
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IDUser)
        </dd>
    </dl>

@Html.ActionLink("Изменить", "Edit", new { id = Model.Id }) 

@Html.ActionLink("На главную", "../Home/Index")

