@model IEnumerable<CadastrProject.Models.Owner>
@{
    ViewBag.Title = "Владельцы";
}

<h2>Данные о владельцах</h2>
<p>
    @Html.ActionLink("Добавить запись", "Create")
</p>
<table class="table">
    <tr>

        <th>
            ID
        </th>
        <th>
            Имя
        </th>
        <th>
            Фамилия
        </th>
        <th>
            ИНН
        </th>
        <th>
            Паспорт
        </th>
        <th>
            Телефон
        </th>
        <th>
            Почта
        </th>

        <th> Action</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <th>
                @Html.DisplayFor(Item => item.Inn)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.Passport)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mail)
            </td>
            <td>

                @Html.ActionLink("Редактировать", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Просмотреть", "Details", new { id = item.Id }) |
            </td>
        </tr>
    }

</table>
@Html.ActionLink("Вернуться в главное меню", "../Home/Index")

