@model CadastrProject.Models.IndexViewModel
@{
    ViewBag.Title = "Управление";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Изменение параметров учетной записи</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Пароль:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Смена пароля", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Создать", "SetPassword")
            }
            ]
        </dd>
           @foreach (var item in Model)
           {
        <dt>Фамилия:</dt>
        <dd>
            @Model.AspNetUsers.Surname
        </dd>

        <dt>Имя:</dt>
        <dd>
            @Model.AspNetUsers.Name
        </dd>

        <dt>Паспорт:</dt>
        <dd>
            @Model.AspNetUsers.Passport
        </dd>
           }
    </dl>
    Здесь он должен выводить данные о пользователе (его имя, фамилию, паспорт, инн)
    <br />
    В будующем - должен выводить объекты пользователя/ заявки пользователя
</div>
